 <header class="header">
    <a href="#" class="logo"><img src='assets/img/logo2.png' width="85px" height="60px">Best From Rest </a>
  <nav class="navbar">
    <a href="#">Home</a>
    <a href="#">Food & Grocerys</a>
    <a href="#">Electronics</a> 
  </nav>
  <div class="icons">
    <div class="bi bi-search icons" id="search-btn"></div> &nbsp; &nbsp;
    <div class="bi bi-cart3 icons" id="cart-btn"></div> &nbsp; &nbsp;
    <div class="bi bi-person icons" id="login-btn"></div>
  </div>
 </header>